#yellow{
	background-color:yellow;
	border:2px;
	border-style: solid;
    border-color: green;
}
#red{
	background-color:red;
	border:2px;
	border-style: solid;
    border-color: black;
}
#green{
	background-color:green;
	border:2px;
	border-style: solid;
    border-color: yellow;
}